@model Fabryka2018.Models.Hale

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hala_Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hala_Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrot do listy", "Index")
</p>
